body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-image: linear-gradient(#3920, #0239);
    height: 100vh;
    text-align: center;
}

// Material Dropdown Menu Styles
.material-dropdown {
    border: .5px solid black;
    border-radius: 2px;
    padding: 8px;
    background-color: inherit;
}

// Add Area Button Styles
.add-area {
    padding: 8px;
}

.measurements {
    margin-top: 16px;
}

.newArea {
    display: flex;
    justify-content: space-around;
}

.lengthWrapper,
.widthWrapper {
    display: flex;
    flex-direction: column;

    &>.innerLabel {
        margin-bottom: 0;
    }
}

// Measurement Input Styles
.length-measurement,
.width-measurement {
    width: 100px;
    margin: 8px;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
}