$Quicksand: 'Quicksand', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-image: linear-gradient(#3920, #0239);
  height: 100%;
  text-align: center;
  font-family: $Ubuntu;
}

.main-header {
  width: 90%;
  margin: 10px auto;
  padding: 8px;
  font-family: $Quicksand;
  background-color: #fff;
}

.material-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: auto;
}

.dropdown-label {
  margin: 1em;
}

// Material Dropdown Menu Styles
.material-dropdown {
  width: 75%;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 3rem;
  background-color: inherit;
  &:hover {
    background-color: #fff;
    border: 0.85px solid #0239;
  }
  & > .material-option {
    text-align: center;
  }
}

// Add Area Button Styles
.add-area {
  padding: 8px;
}

.measurements {
  margin-top: 16px;
}

.measurements-card {
  width: 75%;
  padding: 15px;
  margin: 10px auto;
}

.newArea {
  display: flex;
  justify-content: space-around;
}

.lengthWrapper,
.widthWrapper {
  display: flex;
  flex-direction: column;

  & > .innerLabel {
    margin-bottom: 0;
  }
}

// Measurement Input Styles
.length-measurement,
.width-measurement {
  width: 100px;
  margin: 8px;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
}

.material-list {
  padding: 0;
}

.material-item {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto;
}

.box-sizing-active {
  visibility: hidden;
  & > .box-sizing-form {
    display: flex;
    justify-content: center;
    margin: 8px;
    padding: 8px;
    & > .size-label {
      margin-right: 16px;
    }
  }
}

.required {
  font-style: italic;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: red;
}
