$Quicksand: 'Quicksand', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;
$Danger: #e15a46;
$DangerHover: #af4838;
$Green: #64e687;
$GreenHover: #4db769;
$Transparent-Bg: rgba(207, 207, 207, 0.408);
$Corner-Rounded: 5px;
$Stat-Display: rgb(255, 255, 255);
$Warning: rgb(253, 217, 96);
$WarningHover: rgb(234, 216, 154);

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./dist/assets/flooring-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.wrapper {
  height: 100%;
  text-align: center;
  font-family: $Ubuntu;
}

.main-header {
  width: 75%;
  margin: 10px auto;
  padding: 16px;
  font-family: $Raleway;
  background-color: $Transparent-Bg;
  border-radius: $Corner-Rounded;
  box-shadow: 3px 3px rgba(29, 29, 29, 0.122);
  color: rgb(92, 56, 52);
  text-shadow: 2.7px 2.7px rgb(209, 209, 209);
  font-size: 2.5 rem;
  @media (min-width: 875px) {
    width: 50%;
  }
}

.material-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  @media (min-width: 875px) {
    width: 50%;
  }
  padding: 16px;
  margin: auto;
  background-color: $Transparent-Bg;
  border-radius: $Corner-Rounded;
  box-shadow: 3px 3px rgba(29, 29, 29, 0.122);
}

.dropdown-label {
  margin: 1em;
  font-weight: bold;
  color: rgb(92, 56, 52);
  text-shadow: 2.7px 2.7px rgb(209, 209, 209);
}

// Material Dropdown Menu Styles
.material-dropdown {
  width: 75%;
  @media (min-width: 875px) {
    width: 50%;
  }
  border-radius: 2px;
  padding: 16px;
  margin-bottom: 3rem;
  background-color: rgba(250, 250, 250, 0.823);
  border: none;
  &:hover {
    background-color: #fff;
    // border: 0.85px solid #0239;
  }
  &:active,
  &:focus {
    background-color: inherit;
  }
  & > .material-option {
    text-align: center;
  }
}

.stats-wrapper {
  background-color: $Transparent-Bg;
  border-radius: $Corner-Rounded;
  box-shadow: 3px 3px rgba(29, 29, 29, 0.122);
  max-width: 75%;
  @media (min-width: 875px) {
    width: 50%;
  }
  margin: auto;
  padding: 16px;
}

// Add Area Button Styles
.add-area {
  padding: 8px;
  background-color: $Green;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-style: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-family: $Ubuntu;
  &:hover {
    background-color: $GreenHover;
  }
}

.measurements {
  margin-top: 16px;
}

.measurements-card {
  width: 75%;
  @media (min-width: 875px) {
    width: 50%;
  }
  padding: 16px;
  margin: 10px auto;
  background-color: $Transparent-Bg;
  border-radius: $Corner-Rounded;
  box-shadow: 3px 3px rgba(29, 29, 29, 0.122);
}

.new-area {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0.5em;
  padding: 16px;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(224, 224, 224, 0.809);
  transition: width 2s;
}

.rooms-wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0;
  margin: auto;
  align-items: center;
}

// Measurement Input Styles
.length-measurement,
.width-measurement {
  align-self: center;
  & > input {
    width: 35%;
    margin: 0.5rem;
    @media (min-width: 675px) {
      margin: 0;
    }
  }
  & > .input-label {
    color: rgb(92, 56, 52);
    margin: 10%;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    @media (min-width: 675px) {
      margin: 8px;
      padding-right: 32px;
    }
  }
}

.delButton {
  display: flex;
  align-self: center;
  width: 25px;
  height: 25px;
  text-align: center;
  border: none;
  background-color: $Danger;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  &:hover {
    background-color: $DangerHover;
  }
  @media (min-width: 559px) {
    margin-right: 16px;
  }
}

.reset-button {
  background-color: $Warning;
  color: #fff;
  font-weight: bold;
  border: none;
  border-style: none;
  border-radius: 5px;
  padding: 16px;
  margin-top: 32px;
  margin-right: 8px;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-family: $Ubuntu;

  &:hover {
    background-color: $WarningHover;
  }
}

.calc-btn {
  background-color: $Green;
  color: #fff;
  font-weight: bold;
  border: none;
  border-style: none;
  border-radius: 5px;
  padding: 16px;
  margin-top: 32px;
  margin-left: 8px;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-family: $Ubuntu;
  &:hover {
    background-color: $GreenHover;
  }
}

.material-list {
  padding: 0;
}

.material-item {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto;
}

.box-sizing-active {
  display: none;
  background-color: rgba(197, 224, 186, 0.823);
  width: 75%;
  padding: 16px;
  margin: 1rem auto;
  border-radius: $Corner-Rounded;
  @media (min-width: 875px) {
    width: 50%;
  }
  & > .box-sizing-form {
    display: flex;
    justify-content: center;
    margin: 8px;
    padding: 8px;
    & > .size-label {
      margin-right: 16px;
      letter-spacing: 1px;
      font-size: 14px;
    }
  }
}

.card-title {
  color: rgb(92, 56, 52);
  text-shadow: 1px 1px rgb(209, 209, 209);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.material-type-label,
.material-amount-label,
.bid-price-label {
  color: rgb(92, 56, 52);
  text-shadow: 1px 1px rgb(209, 209, 209);
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-self: center;
}

.card-display {
  font-size: 3rem;
  color: $Stat-Display;
}
.material-type-value,
.material-amount-value,
.bid-price-value {
  font-size: 1.4rem;
  color: $Stat-Display;
  @media (min-width: 675px) {
    font-size: 2rem;
  }
}

.bid-price-value {
  color: #6fac4b;
}

.required {
  font-style: italic;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: $Danger;
  font-weight: bold;
}

.error {
  color: $Danger;
  font-size: 12px;
  font-style: italic;
}
